/* Primary: rgb(168, 207, 58); */
/* Secondary: rgb(177, 192, 130); */
/* Tertiary: rgb(112, 139, 38); */

/* General */
html{
  background: rgb(33, 33, 33);
  color: white;
}
a{
  color: rgb(168, 207, 58);
}
a:visited{
  color: rgb(88, 109, 30);
}
.container{
  width: 70%;
  min-width: 350px;
  margin: 5em auto;
}
.flex, .flex-start{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flex-start{
  justify-content: flex-start;
}
.section-title{
  position: relative;
  padding-right: 10px;
  display: inline-block;
  padding-bottom: 0.25em;
}
.section-title:after{
  content: '';
  position: absolute;
  z-index: -1;
  width: 350px;
  height: 3px;
  left: 0;
  top: 50%;
  background: rgb(168, 207, 58);
  border-radius: 2px;
}

.primary{
  color: rgb(168, 207, 58);
}
.secondary{
  color: rgb(177, 192, 130);
}
.faded{
  color: rgb(183, 183, 183);
}

.bg-tertiary{
  background: rgb(112, 139, 38);
}
.bg{
  background: rgb(33, 33, 33);
}
.bg-light{
  background: rgb(79, 79, 79);
}
.bg-dark{
  background: #000;
}


.size-14{
  font-size: 14pt;
}
.size-16{
  font-size: 16pt;
}
.size-20{
  font-size: 20pt;
}
.size-25{
  font-size: 25pt;
}
.size-40{
  font-size: 40pt;
}
.size-44{
  font-size: 44pt;
}

/* BadgeList */
.badge-list{
  margin: 1em auto;
  display: flex;
  flex-wrap: wrap;
}
.badge-list span{
  margin: 0.3em 0.5em;
  padding: 0.35em;
  border-radius: 4px;
}

/* PicCanvas */
.pic-canvas{
  position: relative;
  width: 100%;
}
.pic-canvas:after{
  content: '';
  position: absolute;
  z-index: -1;
  width: 300px;
  height: 300px;
  top: 10px;
  left: 40px;
  background: black;
}

/* Nav */
nav{
  width: 100%;
}
nav ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
nav li{
  padding: 1em 1em;
  list-style: none;
  color: white;
}

/* Landing */
.landing div{
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

/* Experience */
.exp-tab{
  position: relative;
  padding: 1em .5em;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}
.exp-tab:hover{
  background: rgb(79, 79, 79);
}
.exp-tab:after{
  content: '';
  position: absolute;
  width: 60%;
  height: 2px;
  left: 20%;
  top: 3em;
  background: rgb(168, 207, 58);
  transition: all 0.2s ease-in-out;
}
.exp-tab.bg-light:after{
  left: 2.5%;
  width: 95%;
}
.exp-tab-list-container{
  padding: 0 1em;
}
.exp-detail-container{
  width: 80%;
  min-width: 350px;
  height: 15em;
}
.exp-heading{
  margin-top: 1.25em;
}
.exp-heading div{
  padding: 0.25em;
}

/* Projects */
.project-container{
  margin: 0.4em;
  padding: 1.5em;
  padding-top: 0.5em;
  background: rgb(62, 67, 46);
  border-radius: 5px;
  width: 275px;
}
.project-techlist span{
  padding-right: 1em;
  font-size: 9pt;
}
.project-techlist span:last-child{
  padding-right: 0;
}

/* Contact */
.contact-content{
  margin: auto;
  width: 80%;
  min-width: 300px;
}
.contact-links a{
  padding-right: 1em;
}

/* Footer */
.footer{
  padding: 2em;
  display: flex;
  justify-content: center;
  white-space: pre;
}